# MongoDB 연결 문자열
# 로컬: mongodb://localhost:27017/sdna-test
# MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/sdna-test
MONGODB_URI=mongodb://localhost:27017/sdna-test

# 서버 포트
PORT=5000

# 개발 환경
NODE_ENV=development
